<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Trekking Map: Home</title>
	<!-- icon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
	<!-- CSS only -->
	<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
	<style>
		#sub_sidebar {
			position: relative;
			z-index: 100;
			float: left;
			box-shadow: 3px 3px 3px #d8d8d8;
			-webkit-transition: width 0.5s ease-in-out;
			-moz-transition: width 0.5s ease-in-out;
			-o-transition: width 0.5s ease-in-out;
			transition: width 0.5s ease-in-out;
		}

		#btn_toggling {
			position: relative;
			left: 18px;
			z-index: 10000;
		}
	</style>
</head>

<body>
	<div class="d-flex">
		<!-- sidebar -->
		<div class="d-flex flex-column flex-shrink-0 bg-light vh-100 border justify-content-between"
			style="width: 4.5rem; font-size: 30px;">
			<!-- top -->
			<div>
				<ul class="nav nav-pills flex-column text-center">
					<!-- main -->
					<li>
						<a href="#" class="nav-link border-bottom" id="btn_main"><img th:src="@{/images/logo.png}"
								src="../static/images/logo.png" style="width:30px;"></a>
					</li>

					<!-- profile -->
					<li>
						<a href="#" class="nav-link link-dark border-bottom" id="btn_profile"><i
								class="bi bi-person"></i></a>
					</li>

					<!-- addition -->
					<li>
						<a href="#" class="nav-link link-dark border-bottom" id="btn_addition"><i
								class="bi bi-plus"></i></a>
					</li>

					<!-- modification -->
					<li>
						<a href="#" class="nav-link link-dark border-bottom" id="btn_mod"><i class="bi bi-save"></i></a>
					</li>
				</ul>
			</div>

			<!-- down -->
			<div>
				<ul class="nav nav-pills flex-column text-center">
					<!-- selecting languages -->
					<li>
						<a href="#" class="nav-link link-dark border-bottom border-top" id="btn_lan"><i
								class="bi bi-translate"></i></a>
					</li>

					<!-- notice -->
					<li>
						<a href="#" class="nav-link link-dark border-bottom" id="btn_notice"><i
								class="bi bi-exclamation-triangle"></i></a>
					</li>

					<!-- opinion -->
					<li>
						<a href="#" class="nav-link link-dark border-bottom" id="btn_opinion"><i
								class="bi bi-send"></i></a>
					</li>

					<!-- etc -->
					<li>
						<a href="#" class="nav-link link-dark border-bottom" id="btn_etc"><i
								class="bi bi-three-dots"></i></a>
					</li>
				</ul>
			</div>
		</div>

		<!-- sub_sidebar -->
		<div class="opened d-flex flex-column bg-light vh-100" id="sub_sidebar" style="width: 40rem;">
			<iframe class="vh-100" th:src="@{/main}" src="../templates/sub_sidebar/main.html">
			</iframe>
		</div>

		<!-- sub_sub_sidebar -->
		<div id="sub_sub_sidebar">
		</div>

		<!-- hiding button -->
		<div class="d-flex justify-content-end align-items-center" style="width:0px;">
			<button class="bg-light border p-0" id="btn_toggling"><i class="bi bi-caret-left"></i></button>
		</div>

		<!-- map -->
		<div class="d-flex vw-100">
			<div id="map" style="width:100%; height:100%"></div>
		</div>

	</div>
</body>
<!-- JavaScript Bundle with Popper -->
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<!-- Naver Map -->
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1ii3n95wii"></script>
<script>
	clickSidebar();
	function clickSidebar() {
		const btnMain = document.querySelector('#btn_main');
		const btnProfile = document.querySelector('#btn_profile');
		const btnAddtion = document.querySelector('#btn_addition');
		const btnMod = document.querySelector('#btn_mod');
		const btnLan = document.querySelector('#btn_lan');
		const btnNotice = document.querySelector('#btn_notice');
		const btnOpinion = document.querySelector('#btn_opinion');
		const btnEtc = document.querySelector('#btn_etc');

		const subSidebar = document.querySelector('#sub_sidebar');

		btnMain.addEventListener('click', function () {
			subSidebar.innerHTML = '<iframe class="vh-100" src="/main"></iframe>';
		});

		btnProfile.addEventListener('click', function () {
			alert('프로필 클릭!!');
		});

		btnAddtion.addEventListener('click', function () {
			subSidebar.innerHTML = '<iframe class="vh-100" src="http://localhost:8080/addition"></iframe>';
			recordCoords();
		});

		btnMod.addEventListener('click', function () {
			subSidebar.innerHTML = '<iframe class="vh-100" src="http://localhost:8080/mod"></iframe>';
		});

		btnLan.addEventListener('click', function () {
			alert('언어선택 클릭!!');
		});

		btnNotice.addEventListener('click', function () {
			subSidebar.innerHTML = '<iframe class="vh-100" src="http://localhost:8080/notice"></iframe>';
		});

		btnOpinion.addEventListener('click', function () {
			alert('의견보내기 클릭!!');
		});

		btnEtc.addEventListener('click', function () {
			subSidebar.innerHTML = '<iframe class="vh-100" src="http://localhost:8080/etc"></iframe>';
		});
	}

	let map = document.querySelector('#map');

	// 현재 위치로 center 잡기(예정)

	showMap();
	function showMap() {
		var mapOptions = {
			center: new naver.maps.LatLng(37.3595704, 127.105399),
			zoom: 10
		};

		map = new naver.maps.Map('map', mapOptions);
	}

	function recordCoords() {
		let i = 0;
		let polylinePaths = new Array();
		let markers = new Array();

		const iframe = document.querySelector('iframe');

		iframe.addEventListener('load', function () {
			const doc = iframe.contentDocument;
			const coords = doc.querySelector('#coords');

			naver.maps.Event.addListener(map, 'click', function (event) {

				const lat = event.coord.lat();
				const lng = event.coord.lng();
				const position = new naver.maps.LatLng(lat, lng);
				polylinePaths.push(position);

				// adding markers
				const marker = new naver.maps.Marker({
					position: position,
					map: map,
					clickable: true,
				});
				markers.push(marker);

				// drawing lines
				const polyline = new naver.maps.Polyline({
					map: map,
					path: polylinePaths,
					strokeWeight: 3,
					strokeOpacity: 0.5,
					strokeColor: '#FF0000',
				});
				console.log(polyline.path._array);
				console.log(markers);

				// // recording in the sidebar
				// coords.innerHTML += '<div class="coord">'
				// 	+ '<span class="coord_num">' + ++i + '. </span>'
				// 	+ '<span class="coord_lat">' + lat + '</span>'
				// 	+ '<span> / </span>'
				// 	+ '<span class="coord_lag">' + lng + '</span>'
				// 	+ '</div>';

				// deleting markers
				for (let i = 0; i < markers.length; i++) {
					naver.maps.Event.once(markers[i], 'click', function () {
						if (markers[i] !== undefined) {
							markers[i].setMap(null);
						}
						markers.splice(i, 1);
						polyline.setMap(null);
						polyline.path._array.splice(i, 1);
						i--;
				
						console.log('check_delete');
						console.log(polyline.path._array);
						console.log(markers);
					});
				}
			});
		});

		// initializing a path
		// saving a path

	}

	toggleSidebar();
	function toggleSidebar() {
		const subSidebar = document.querySelector('#sub_sidebar');
		const btnToggling = document.querySelector('#btn_toggling');

		btnToggling.addEventListener('click', function () {

			if (subSidebar.classList.contains('opened')) {

				subSidebar.classList.replace('opened', 'closed');
				subSidebar.style.width = '0rem';
				btnToggling.innerHTML = '<i class="bi bi-caret-right"></i>';

			} else {

				subSidebar.classList.replace('closed', 'opened');
				subSidebar.style.width = '40rem';
				btnToggling.innerHTML = '<i class="bi bi-caret-left"></i>';

			}

		});

	}
</script>

</html>