<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Trekking Map: Home</title>
	<!-- icon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
	<!-- CSS only -->
	<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="d-flex">
		<!-- sidebar -->
		<div class="d-flex flex-column flex-shrink-0 bg-light vh-100 justify-content-between pb-5"
			style="width: 4.5rem; font-size: 30px;">
			<!-- top -->
			<div>
				<ul class="nav nav-pills flex-column text-center">
					<li>
						<a href="#" class="nav-link border-bottom"><img src="../static/images/logo.png"
								style="width:50px;"></a>
						</a>
					<li>
						<a href="#" class="nav-link border-bottom"><i class="bi bi-person"></i></a>
						</a>
				</ul>
			</div>

			<!-- down -->
			<div>
				<ul class="nav nav-pills flex-column text-center">
					<li>
						<!-- selecting languages -->
						<a href="#" class="nav-link border-bottom"><i class="bi bi-translate"></i></a>
						</a>
					</li>
					<li>
						<!-- notice -->
						<a href="#" class="nav-link border-bottom text-decoration-none"><i
								class="text-decoration-nonebi bi-exclamation-triangle"></i></a>
					</li>
					<li>
						<!-- opinion -->
						<a href="#" class="nav-link border-bottom"><i class="bi bi-send"></i></a>
					</li>
					<li>
						<!-- terms -->
						<a href="#" class="nav-link border-bottom"><i class="bi bi-file-earmark-text"></i></a>
					</li>
				</ul>
			</div>
		</div>

		<!-- sub_sidebar-->
		<div class="d-flex flex-column bg-light vh-100" style="width: 20rem;">
			<!-- search -->
			<div>
				<input class="form-control mt-3 ms-3" type="text" style="width:70%;">
				<button class="btn"><i class="bi bi-search"></i></button>
			</div>

			<!-- detail -->
			<div>

			</div>
		</div>

		<!-- sub_sub_sidebar -->
		<div>
			<!-- photos -->
			<div>

			</div>
			<!-- detail -->
			<div>

			</div>
			<!-- isCompleted -->
			<div>

			</div>

			<!-- auth -->
			<div>

			</div>

			<!-- viewing other photos -->
			<div>

			</div>
		</div>

		<!-- map -->

		<div class="d-flex vw-100">
			<div id="map" style="width:100%;height:100%"></div>
		</div>

	</div>
</body>
<!-- JavaScript Bundle with Popper -->
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<!-- Naver Map -->
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1ii3n95wii"></script>
<script>
	let map = document.querySelector('#map');

	showMap();
	function showMap() {
		var mapOptions = {
			center: new naver.maps.LatLng(37.3595704, 127.105399),
			zoom: 10
		};

		map = new naver.maps.Map('map', mapOptions);
	}

	showPath();
	function showPath() {

		var polylinePath = [
			new naver.maps.LatLng(37.43415803702095, 126.902749102498),
			new naver.maps.LatLng(37.43426675615875, 126.90347775123666),
			new naver.maps.LatLng(37.43409105363888, 126.90347232734511 ),
			new naver.maps.LatLng(37.43387292643604, 126.90673801889157),
			new naver.maps.LatLng(37.43373114126552, 126.90689638053485),
			new naver.maps.LatLng(37.43317902437243, 126.90658634471977),
		];

		//위의 배열을 이용해 라인 그리기
		var polyline = new naver.maps.Polyline({
			path: polylinePath,      //선 위치 변수배열
			strokeColor: '#FF0000', //선 색 빨강 #빨강,초록,파랑
			strokeOpacity: 0.5, //선 투명도 0 ~ 1
			strokeWeight: 3,   //선 두께
			map: map           //오버레이할 지도
		});

		// 배열 마지막 위치를 마크로 표시함
		var marker = new naver.maps.Marker({
			position: polylinePath[polylinePath.length - 1], //마크 표시할 위치 배열의 마지막 위치
			map: map
		});
	}

	function success(pos) {
		const crd = pos.coords;
		const latitude = crd.latitude;   // latitude
		const longitude = crd.longitude; // longitude

		console.log(`위도: ${latitude}, 경도: ${longitude}`);
	}

	getUserLocation();
	function getUserLocation() {
		if (!navigator.geolocation) {
			throw "위치 정보가 지원되지 않습니다.";
		}
		navigator.geolocation.getCurrentPosition(success);
	}


</script>

</html>